.btn-primary {
    color: #fff;
    background: #ce5c5c -webkit-gradient(linear,left top,left bottom,from(#ce5c5c),to(#ce5c5c)) repeat-x;
    background: #ce5c5c linear-gradient(180deg,#ce5c5c,#ce5c5c) repeat-x;
    border-color: #ce5c5c;
    -webkit-box-shadow: none;
    box-shadow: none;
}